<strong>Olá {{deliveryman}},</strong>
<br/>
<br/>
<p>Houve um cancelamento da seguinte entrega:</p>
<br/>
<p>
  <strong>Produto: </strong>{{product}} <br/>
  <strong>Data/hora: </strong>{{date}} <br/>
  <strong>Destinatário: </strong>{{recipient}} <br/>
  <strong>Endereço: </strong>{{street}}, {{number}}, {{city}} - {{state}}
  <br/>
  <small>O horário está liberado para agendamento de novas entregas</small>
</p>
