<strong>Olá {{deliveryman}},</strong>
<br/>
<br/>
<p>Há uma nova entrega para ser feita:</p>
<br/>
<p>
  <strong>Produto: </strong>{{product}} <br/>
  <strong>Destinatário: </strong>{{recipient}} <br/>
  <strong>Endereço: </strong>{{street}}, {{number}} <br/>
  <strong>Complemento: </strong> {{complement}} <br/>
  <strong>Cidade: </strong> {{city}} <br/>
  <strong>Estado: </strong> {{state}}<br/>
  <strong>CEP: </strong>{{zipCode}} <br/>
  <small>O horário está liberado para agendamento de novas entregas</small>
</p>
